#battery {
    padding: 0 4px;
    border-bottom: 2px solid @accent;
    color: @accent;
    background: @main-bg;
    transition: 0.3s;
}

#battery:hover {
    color: @main-bg;
    background: @accent;
}

#battery.warning {
    border-bottom-color: @warning;
    color: @warning;
}

#battery.warning:hover {
    color: @main-bg;
    background: @warning;
}

#battery.critical {
    border-bottom-color: @critical;
    color: @critical;
}

#battery.critical:hover {
    color: @main-bg;
    background: @critical;
}
