#tray {
    padding: 0 4px;
    border-bottom: 2px solid @accent;
    color: @accent;
    background: @main-bg;
    transition: 0.3s;
}

#tray menu {
    border: 2px solid @accent;
    color: @accent;
    background: @main-bg;
    transition: 0.3s;
}
